.productView {
    display: flex;
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    align-items: stretch;
    margin: -2rem -2rem;
}

.viewLeft {
    width: 45%;
    height: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewLeft img {
    object-fit: cover;
    width: 100%;
}

.viewRight {
    height: 100%;
    width: 55%;
    padding: 2rem 3.2rem;
}
.goBack {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 2.4rem;
    margin-left: -1rem;
    margin-bottom: 3rem;
}
.productSummary {
    border-bottom: 1px solid #eee;
    font-size: 1.8rem;
    padding-bottom: 1.8em;
    margin-bottom: 1.8em;
}
.category {
    border-top: 1px solid #eee;
    padding-top: 1.8em;
    font-weight: 700;
    color: #5c16c5;
    margin-bottom: 1.2rem;
}
.title {
    font-weight: 700;
    color: #000;
    font-size: 4rem;
    margin-bottom: 0.4em;
}
.content {
    font-size: 1.6rem;
    color: #888;
    line-height: 1.2;
    word-break: keep-all;
}

.price {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.05em;
    margin-bottom: 5rem;
}
.price span {
    font-size: 1.4rem;
    padding-right: 10px;
    color: #5c16c5;
}
.btnWrapper {
    display: flex;
    gap: 4px;
}
.storeBtn {
    width: 100%;
    background: #03c75a;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.03em;
    font-size: 1.7rem;
    border-radius: 4px;
}

.contactBtn {
    width: 100%;
    background: #5c16c5;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.03em;
    font-size: 1.7rem;
    border-radius: 4px;
}

.itemBadge {
    display: flex;
    gap: 4px;
    margin-bottom: 3rem;
}

.badge {
    border-radius: 0 9999px 9999px 0;
    background: #000;
    height: 2.8rem;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0 1em 0 0.8em;
}
.badge.popular {
    background: rgb(0, 89, 255);
}
.badge.rec {
    background: #5c16c5;
}
.badge.new {
    background: rgb(216, 32, 109);
}
.badge.online {
    background: #03c75a;
}
