.productView {
    display: flex;
    width: calc(100% + 4rem);
    height: 100vh;
    align-items: stretch;
    margin: -2rem -2rem;
}

.viewLeft {
    width: 45%;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewLeft img {
    object-fit: cover;
    width: 100%;
}
.no-img {
    font-size: 4rem;
}

.viewRight {
    height: 100%;
    width: 55%;
    padding: 2rem 3.2rem 10rem;
    margin-bottom: 20rem;
}
.goBack {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 2.4rem;
    margin-left: -1rem;
    margin-bottom: 3rem;
}
.productSummary {
    border-bottom: 1px solid #eee;
    font-size: 1.8rem;
    padding-bottom: 1em;
    margin-bottom: 1em;
    position: relative;
}
.category {
    border-top: 1px solid #eee;
    padding-top: 1.8em;
    font-weight: 700;
    color: #5c16c5;
    margin-bottom: 1.2rem;
}
.title {
    font-weight: 700;
    color: #000;
    font-size: 4rem;
    margin-bottom: 0.4em;
}
.content {
    font-size: 1.6rem;
    color: #888;
    line-height: 1.2;
    word-break: keep-all;
}
.ingredients {
    display: flex;
    align-items: center;
}
.ingredients .ingredientLabel {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    padding-right: 1.5rem;
    margin-right: 1.5rem;
}
.ingredients .ingredientLabel:after {
    content: "";
    display: block;
    width: 1px;
    height: 1em;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.5em;
}
.ingredients .ingredientsList {
    display: flex;
}
.ingredients .ingredientsList li {
    min-width: 3em;
    background: #fff0f0;
    color: #e9504d;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid #e9504d;
    margin: 0 4px 3px 0;
}
.price {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.05em;
    margin-bottom: 5rem;
}
.price span {
    font-size: 1.4rem;
    padding-right: 10px;
    color: #5c16c5;
}
.btnWrapper {
    display: flex;
    margin: -4px 0 0 -4px;
}
.storeBtn {
    width: 100%;
    background: #03c75a;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.03em;
    font-size: 1.7rem;
    border-radius: 4px;
    margin: 4px 0 0 4px;
}

.contactBtn {
    width: 100%;
    background: #5c16c5;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.03em;
    font-size: 1.7rem;
    border-radius: 4px;
    margin: 4px 0 0 4px;
}

.itemBadge {
    display: flex;
    gap: 4px;
    margin-bottom: 3rem;
}
.mobileImg {
    display: none;
}

@media screen and (max-width: 1023px) {
    .productView {
        height: 100%;
    }
    .viewLeft {
        display: none;
    }
    .viewRight {
        width: 100%;
        padding: 0 3rem 10rem;
    }
    .goBack {
        position: absolute;
        left: 2rem;
        top: 2rem;
        z-index: 3;
        color: #fff;
    }
    .itemBadge {
        padding-top: 3rem;
        margin-bottom: 2rem;
    }
    .title {
        font-size: 3rem;
    }
    .mobileImg {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        margin: 0 -3rem;
        min-height: 40rem;
    }
    .mobileImg img {
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .productView {
        width: calc(100% + 2rem);
        margin: -2rem -1rem;
    }
    .btnWrapper {
        flex-direction: column;
    }
}
