.settingWrapper {
    max-width: 400px;
    height: 100vh;
    margin: -6rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.settingBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.3em;
    width: 100%;
    height: 5.8rem;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(58, 60, 81, 0.105);
    font-size: 1.5rem;
}
.settingBtn + .settingBtn {
    margin-top: 4px;
}
.settingBtn .label {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
}

.settingBtn .controls {
    display: flex;
}
.settingBtn .controls input {
    display: none;
}
.settingBtn .controlBtn {
    width: 6rem;
    height: 3.4rem;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #888;
    line-height: 3.4rem;
    border-radius: 4px;
    cursor: pointer;
}
.settingBtn label + label {
    margin-left: 3px;
}
.settingBtn input:checked ~ .controlBtn {
    background: #5c16c520;
    color: #5c16c5;
    border: 1px solid #5c16c5;
}
